<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Yo'self</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/index.css">
    <title>Node File Uploads</title>

</head>


<body>
    <div class="wrapper">
        <main class="main">
            <h1>File Upload</h1>
            <form action="/upload" method="POST">
                <label>
                    <input type="file">
                </label>     
                <label>
                    <button type="submit" class="btn">Submit</button>
                </label>       
            </form>
            ${partial}

        </main>
    </div>
    <script src="js/entry.js"></script>
</body>
</html>